[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[dev-packages]



[packages]

django = "==1.11.29"
six = "*"
"psycopg2" = "*"
pyjwt = "*"
bcrypt = "*"
ipython = "*"
requests = "*"


[requires]

python_version = "3.5"
