prompt-toolkit==1.0.15
decorator==4.1.2
pytz==2017.3
django==2.0
certifi==2017.11.5
pyjwt==1.5.3
pickleshare==0.7.4
ipython==6.2.1
requests==2.18.4
six==1.11.0
ptyprocess==0.5.2
pycparser==2.18
wcwidth==0.1.7
parso==0.1.0
urllib3==1.22
jedi==0.11.0
psycopg2==2.7.3.2
bcrypt==3.1.4
simplegeneric==0.8.1
idna==2.6
ipython-genutils==0.2.0
traitlets==4.3.2
pexpect==4.3.0;
pygments==2.2.0
cffi==1.11.2
chardet==3.0.4
