{% extends 'base.html' %}

{% block title %}Editar Token de GitServerHTTPEndpoint{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'auth:tokens' %}">Administración de API Tokens</a></li>
    <li class="breadcrumb-item active">{{ app_name }}</li>
{% endblock %}

{% block navmenu-main %}
    <li><a href="{% url 'auth:tokens' %}">
        <!--i class="icon-home"></i--><span>Gestión de Tokens</span></a></li>
    <li><a href="{% url 'auth:logout' %}"> <!--i class="icon-home"></i--><span>Cerrar Session</span></a></li>
{% endblock navmenu-main %}

{% block content %}
    <section class="forms">
        <div class="container-fluid">
            <!--header>
                <h1 class="h3 display">Crear un nuevo Token</h1>
            </header-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h2 class="h5 display display">Editar Token: {{ app_name }}</h2>
                        </div>
                        <div class="card-body">
                            <p>Registro de Servicios Externas para crear sus API token.</p>
                            <form method="post">
                                {% csrf_token %}
                                {{ form.non_field_errors }}
                                {% for field in form %}
                                    <div class="form-group">
                                        {{ field.errors }}
                                        {% if field == form.app_name %}
                                            <label>Nombre del Servicio:</label>
                                            <input type="text" placeholder="Nombre del Servicio" name="app_name"
                                                   class="form-control" value="{{ field.value }}"
                                                   required>
                                        {% elif field == form.expires %}
                                            <input type="checkbox" name="expires" id="id_expires"
                                                   class="form-control-custom" {% if field.value %}checked{% endif %}>
                                            <label for="id_expires">Expira</label>`
                                        {% elif field == form.expire_date %}
                                            <label>Fecha de Expiracion:</label>
                                            <p>Formato: <em>mm/dd/yyyy hh:mm</em></p>
                                            {% if field.value is not None %}
                                                <!--input type="text" name="expire_date" placeholder="mm/dd/yyyy hh:mm"
                                                       class="form-control" value="{{ field.value }}"-->
                                                {{ field }}
                                            {% else %}
                                                <input type="text" name="expire_date" placeholder="mm/dd/yyyy hh:mm"
                                                       class="form-control" value="">
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                <button class="btn btn-primary" type="submit">Guardar token</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}